<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='user_signup.css') }}">
</head>
<body>

    <header>
        <h1>User Interface</h1>
    </header>

    <form action="/add_user" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" required>

        <label for="email">Email:</label>
        <input type="email" name="email" required>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <label for="city">City:</label>
        <input type="text" name="city" required>
        <label for="phone_no">Phone Number:</label>
        <input type="number" name="phone_no" required>

        <button type="submit">Sign up</button>
    </form>

</body>

</html>
